<!DOCTYPE html>
{% extends "./base.html" %}
{% block body %}
<section>
  <div class="notfoundpanel">
    <h1>403!</h1>
    <h3>The page you are looking for has been refuse!</h3>
    <h4>You do not have permission to view this page , please login to view.<br />Maybe you could check your name.</h4>
    <button class="btn btn-success" id="return">Login</button>
  </div>
</section>
<script>
$('#return').click(function(){
    var self = $(this);
    href = self.attr('href');
    $.post(href, {}, function(){
        window.location.href = "{{ url_for('login.login') }}"
    });
});
</script>
{% endblock %}
